* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: #FFF8F3;
    background-image: url('/images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    padding-top: 30px 20px;
    
}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
}

.nav-title {
    font-weight:700;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.btn-primary {
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    color: #ffffff;
    border-style: none;
}

.btn-contact {
    border: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin-left: 30px;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    font-size: 20px;
}

/* banner style */
.banner {
    margin:150px 10px 0 150px;
    display: flex;
    align-items:center;
    justify-content: space-between;

}

.banner-title {
    font-weight: 700;
    font-size: 80px;
}


.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
    max-width: 450px;
    max-height: 250px;
    

}

/* main section */

main {
    max-width: 1140px;
    max-height: 550px;
    margin: 0 auto;
    background: #FFF8F3;
}

/* about and description style. */

.about {
    text-align: center;
    margin-top: 130px;
    border-radius: 10px;

}

.section-title {
    text-align: center;
    padding-top: 100px;
    font-weight: 600;
    font-size: 60px;

}

.section-description {
    color: #757575;
    text-align: center;
    padding: 0 100px;
    font-size: 18px;
    margin: 10px;

}

.about-info-cotainer {
    display: flex;
    justify-content: space-around;
    padding: 10px 90px;
    align-items: center;
}

.about.info-title {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}

.info-description {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
    gap: 50px;
}

.skills-container {
    margin: 30px;
    display: flex;
    gap: 24px;
    text-align: left;
}

.skill-description {
    text-align:justify;
    color: #757575;
    font-weight: 400;
    font-size: 16px;

}

.skill-title {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
    color: #181818;
    font-weight: 700;
    font-size: 20px;
}

.skill {
    text-align: left;
    margin-top: 30px;
    padding: 30px 10px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

/* .what-i-do-style */

.what-i-do-title {
    text-align:center;
    margin-top: 130px;
}

/* Resume section style */

.section-title{
    margin: 130px;
    text-align: center;
  
}

.resume-content {
    display: flex;
    text-align:justify;
    gap: 50px;
    padding: 30px;  
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;

}

.resume-sub-title {
    color: #474747;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}

.sub-title {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.resume .description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    margin-bottom: 30px;
}